<a class="fa fa-minus-square myToggle" *ngIf="showList" (click)="toggleList()"></a>
<a class="fa fa-plus-square" *ngIf="!showList" (click)="toggleList()"></a>
<app-inspector-details></app-inspector-details> 
<br />
<div *ngIf="showList" align="center">  
  <table class="table table-striped table-hover">        
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Location</th>
      <th>EmployeeId</th>
      <th></th>
      <th><!-- <a class="fa fa-plus" align="right" id="addInspector" (click)="toggleForm()"></a> --></th>
    </thead>
    <tr *ngFor="let inspector of inspectorService.inspectorList">
      <!-- <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="inspector.Id"> -->
      <td>{{ inspector.FirstName }}</td>
      <td>{{ inspector.LastName }}</td>
      <td>{{ inspector.Location }}</td>
      <td>{{ inspector.EmployeeId }}</td>
      <td id="deleteInspector" (click)="deleteInspector(inspector.Id)"><i class="fa fa-trash"></i></td>
      <td id="editInspector" (click)="editInspector(inspector)"><i class="fa fa-edit"></i></td>
    </tr>    
  </table>
  <i class="fa fa-spinner fa-spin" align="center" *ngIf="inspectorService.loading" style="font-size:100px"></i>
</div>