#deleteInspection {
    color: #ff4444;
}
#editInspection {
    color: #5481ff;
}
#deleteInspection:hover, #editInspection:hover, .listToggle:hover {
    cursor: pointer;
}
.finspect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterLink {
    cursor: pointer;
}