
<a class="fa fa-minus-square myToggle" *ngIf="!showList" (click)="toggleList()"></a>
<a class="fa fa-plus-square" *ngIf="showList" (click)="toggleList()"></a> <!-- <i class="fa fa-minus-square"></i> -->
<div *ngIf="showList" align="center">
  <table class="table table-striped table-hover">        
    <thead>
      <th>Part Number</th>
      <th>MI Status Barcode</th>
      <th>Date Inspected</th>
      <th>QuantityInspected</th>
      <th>Quantity Accepted</th>
      <th>Type</th>
      <th>Inspector</th>
      <th></th>
      <th></th>
    </thead>    
    <tr *ngFor="let record of inspectionService.inspectionHistory">
      <td>{{ record.TMSPartNumber }}</td>
      <td>{{ record.MiStatusBarcode }}</td>
      <td>{{ record.DateInspected }}</td>
      <td>{{ record.QuantityInspected }}</td>
      <td>{{ record.QuantityAccepted }}</td>
      <td>{{ record.InspectionType }}</td>
      <td>{{ record.InspectorName }}</td>
      <td id="deleteInspection" (click)="deleteInspection(record.Id)"><i class="fa fa-trash"></i></td>
      <td id="editInspection" (click)="editInspection(record)"><i class="fa fa-edit"></i></td>
    </tr>
  </table>
  <!-- <i class="fa fa-spinner fa-spin" align="center" *ngIf="inspectionService.loading" style="font-size:100px"></i> -->
</div>