<!-- <a href="#" *ngIf="!showDetails" (click)="toggleDetails()"><i class="fa fa-plus-square"></i></a>
<a *ngIf="showDetails" (click)="toggleDetails()"><i class="fa fa-minus-square"></i></a> -->

<a class="fa fa-minus-square listToggle" *ngIf="showDetails" (click)="toggleDetails()"></a>
<a *ngIf="!showDetails" class="fa fa-plus-square listToggle" (click)="toggleDetails()"></a>
<i class="fa fa-spinner fa-spin" align="center" *ngIf="inspectionService.loadingDetails" style="font-size:100px"></i>
<form *ngIf="showDetails" #inspectionForm="ngForm" (ngSubmit)="onSubmit(inspectionForm)">
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="inspectionService.selectedInspection.Id">
  <input type="hidden" name="InspectionFiles" #InspectionFiles="ngModel" [(ngModel)]="inspectionService.selectedInspection.InspectionFiles">
  <div class="row">
    <div class="col">
      <input name="MiStatusBarcode" #MiStatusBarcode="ngModel" [(ngModel)]="inspectionService.selectedInspection.MiStatusBarcode"
        class="form-control" (blur)="getMIStatusData(inspectionService.selectedInspection.MiStatusBarcode)" placeholder="Mi Status Barcode">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <input name="EmployeeId" #EmployeeId="ngModel" [(ngModel)]="inspectionService.selectedInspection.EmployeeId" class="form-control"
        placeholder="Employee Id" required>
      <div class="validation-error" *ngIf="EmployeeId.invalid && EmployeeId.touched">This field is required.</div>
    </div>
    <div class="col">
      <input name="TMSPartNumber" #TMSPartNumber="ngModel" [(ngModel)]="inspectionService.selectedInspection.TMSPartNumber" class="form-control"
        placeholder="Part Number" required>
      <div class="validation-error" *ngIf="TMSPartNumber.invalid && TMSPartNumber.touched">This field is required.</div>
    </div>
  </div>
  <br />
  <!-- <div *ngIf="inspectionService.MiDetails"> -->
  <div class="row">
    <div class="col">
      <input name="SalesOrder" #SalesOrder="ngModel" [(ngModel)]="inspectionService.selectedInspection.MiStatus.SalesOrder" class="form-control"
        placeholder="Sales Order" [disabled]="inspectionService.MiDetails">
    </div>
    <div class="col">
      <input name="MIRev" #MIRev="ngModel" [(ngModel)]="inspectionService.selectedInspection.MiStatus.MIRev" class="form-control" placeholder="MI Revision"
        [disabled]="inspectionService.MiDetails">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <select name="MfgLocation" #MfgLocation="ngModel" [(ngModel)]="inspectionService.selectedInspection.MfgLocation" class="form-control">
        <option>AZ</option>
        <option>CT</option>
        <option>FL</option>
        <option>MA</option>
      </select>
    </div>
    <div class="col">
      <input name="CustomerName" #CustomerName="ngModel" [(ngModel)]="inspectionService.selectedInspection.MiStatus.CustomerName" class="form-control"
        placeholder="Customer Name" [disabled]="inspectionService.MiDetails">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <input name="QuantityInspected" #QuantityInspected="ngModel" [(ngModel)]="inspectionService.selectedInspection.QuantityInspected"
        class="form-control" placeholder="Quantity Inspected" required>
      <div class="validation-error" *ngIf="QuantityInspected.invalid && QuantityInspected.touched">This field is required.</div>
    </div>
    <div class="col">
      <input name="QuantityAccepted" #QuantityAccepted="ngModel" [(ngModel)]="inspectionService.selectedInspection.QuantityAccepted"
        class="form-control" placeholder="Quantity Accepted" required>
      <div class="validation-error" *ngIf="QuantityAccepted.invalid && QuantityAccepted.touched">This field is required.</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="InspectionType">Inspection Type:</label>
      <select name="InspectionType" #InspectionType="ngModel" [(ngModel)]="inspectionService.selectedInspection.InspectionType"
        class="form-control" required>
        <option>Final Inspection</option>
        <option>Re-Inspection</option>
        <option>Split-MI</option>
        <option>In-process</option>
      </select>
      <!-- <input name="InspectionType" #InspectionType="ngModel" [(ngModel)]="inspectionService.selectedInspection.InspectionType" class="form-control" placeholder="Inspection Type" required>  -->
      <div class="validation-error" *ngIf="InspectionType.invalid && InspectionType.touched">This field is required.</div>
    </div>
    <div class="col">
      <label for="InspectionLocation">Inspection Location:</label>
      <select name="InspectionLocation" #InspectionLocation="ngModel" [(ngModel)]="inspectionService.selectedInspection.InspectionLocation"
        class="form-control">
        <option>TMS - Wallingford</option>
        <option>TMS - South</option>
        <option>TMS - West</option>
        <option>TMS - China</option>
        <option>EAM</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <!-- <div class="col">
      <label for="fileUpload">Upload Document: </label>
    </div>   -->
    <div class="col-md-4">
      <input #fileUpload (change)="fileChangeEvent($event)" placeholder="Upload file..." multiple accept=".pdf" id="fileUpload"
        type="file" />
      <br />
    </div>
    <div class="col">
      <button class="btn btn-sm btn-primary" type="button" (click)="beginUpload()"><i class="fa fa-upload"></i></button>
      <button class="btn btn-sm btn-primary" type="button" (click)="cancelUpload()"><i class="fa fa-stop-circle"></i></button>      
      <!-- <div *ngIf="inspectionService.uploadedFileNames?.length > 0">
        <br />
        <ul>
          <li *ngFor="let fileName of inspectionService.uploadedFileNames; let i = index">
            {{fileName}}
          </li>          
        </ul>
      </div>   --> 
      <div *ngIf="inspectionService.selectedInspection.FinalInspectionUploads?.length > 0">
        <br />
        <ul>
          <li *ngFor="let file of inspectionService.selectedInspection.FinalInspectionUploads; let j = index">
            {{file}}
          </li>          
        </ul>
      </div>     
      <!-- <div [innerHtml]="inspectionService.uploadResult"></div> -->
      <div style="color:red">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="form-group col-md-8">
      <button [disabled]="!inspectionForm.valid" type="submit" class="btn btn-lg btn-block btn-success">
        <i class="fa fa-save"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-primary" (click)="resetForm(inspectionForm)">
        <i class="fa fa-undo"></i> Reset</button>
    </div>
  </div>
</form>